{% extends "skeleton.html" %}

{% block head %}
    <title>Uredi vprašanje</title>
{% endblock head %}

{% block content %}
<style>
    ol, ul {
        list-style: none
    }
</style>
        <h1>Uredi vprašanje</h1>
        <form action="/edit_question/{{kviz.id}}/{{vprasanje.id}}/" method="post"  enctype="multipart/form-data" style="padding-bottom: 15px;">
            {% csrf_token %}
            {{form.as_p  }}
            <input type="submit" value="Shrani">
        </form>
{% endblock content %}