{% extends "skeleton.html" %}

{% block head %}
    <title>Skozi zgodovino Slovenije</title>
{% endblock head %}

{% block content %}
    <h2>Skozi Zgodovino Slovenije</h2>
    <p>Pozdravljeni na interaktivni igri, kjer bomo spoznavali znamenitosti in zgodovino Slovenije</p>
    <a href="test_map">Povezava do mape Slovenije</a><br>
    <a href="quiz_manager">Upravljaj s kvizi</a><br>
    <a href="add_quiz">Dodaj nov kviz</a><br>
    <a href="list_quizes">Rešujemo kvize</a><br>
    <a href="testTemplate">Nov layout</a><br>
{% endblock content %}