<html>
    <head>
        <title>Skozi Zgodovino Slovenije</title>
    </head>
    <body>
        <h2>Skozi Zgodovino Slovenije</h2>
        <p>Pozdravljeni na interaktivni igri, kjer bomo spoznavali znamenitosti in zgodovino Slovenije</p>
        <a href="test_map">Povezava do mape Slovenije</a><br>
        <a href="quiz_manager">Seznam kvizov in vprašanj</a><br>
        <a href="add_quiz">Povezava do obrazca za dodajanje novega kviza</a><br>
        <a href="add_question">Povezava do obrazca za dodajanje novega vprašanja</a>
    </body>
</html>