{% extends "skeleton.html" %}

{% block head %}
    <title>Novo vprašanje</title>
    <style type="text/css">
    #map {
        margin-top: 20px;
        margin-left: 5px;
        width: 600px;
        height: 400px;
    }
    </style>
{% endblock head %}

{% block content %}
    <h1>Novo vprašanje:</h1>
    <form action="/add_question/{{kviz}}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|linebreaks }}
        <input type="submit" value="Dodaj vprašanja">
    </form>

    <div id="map"></div>

    <script type="text/javascript">
    var googleTerrain = L.tileLayer('http://{s}.google.com/vt/lyrs=p&x={x}&y={y}&z={z}',{
        maxZoom: 20,
        subdomains:['mt0','mt1','mt2','mt3']
    });

    var map = L.map('map')
        .addLayer(googleTerrain)
        .setView([46.1195, 14.8379], 9);



    var popup = L.popup();
    function onMapClick(e) {
        popup
            .setLatLng(e.latlng)
            .setContent("Vprašanje bo postavljeno na kooridante: " + e.latlng.toString())
            .openOn(map);
        document.getElementById('id_latitude').value=e.latlng.lat;
        document.getElementById('id_longitude').value=e.latlng.lng;
    }
    map.on('click', onMapClick);
    </script>
{% endblock content %}