{% extends "skeleton.html" %}

{% block head %}
    <title>Urejevalnik vprašanj</title>
{% endblock head %}

{% block content %}
    <h1>Seznam kvizov:</h1>
    <table style="border: 1px solid black;">
        <tr>
            <th>Ime</th>
            <th>id</th>
            <th>Avtor</th>
        </tr>
        {% for i in kvizi %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.id}}</td>
                <td>{{i.author}}</td>
            </tr>
        {%endfor%}
    </table>
    <table style="border: 1px solid black;">
        <h1>Seznam vprašanj staro:</h1>
        <tr>
            <th>Ime</th>
            <th>Vprašanja</th>
            <th>Tip</th>
            <th>Pravilni odgovori</th>
        </tr>
            {% for j in vprasanja_old %}
            <tr>
                <td>{{j.opis}}</td>
                <td>{{j.vprasanja}}</td>
                <td>{{j.type}}</td>
                <td>{{j.pravilni_odgovori}}</td>
            </tr>
        {%endfor%}
    </table>

    <table style="border: 1px solid black;">
        <h1>Seznam vprašanj:</h1>
        <tr>
            <th>opis</th>
            <th>opis</th>
        </tr>
            {% for j in vprasanja %}
            <tr>
                <td>{{j.opis}}</td>
                <td>{{j.vprasanje}}</td>
            </tr>
        {%endfor%}
    </table>
{% endblock content %}