{% extends "skeleton.html" %}

{% block head %}
    <title>Rezultati kviza</title>
{% endblock head %}

{% block content %}
<style>
    table, th, td, tr {
        border: 1px solid black;

    }
    td, th {
        text-align: center;
        padding: 5px;

    }
    th {
        background-color: rgb(208, 208, 208);
    }
</style>


    <h1>Rezultati kviza osebe: {{username}}</h1>
    <table style="border: 1px solid black;">
        <tr>
            <th>Vprašanje</th>
            <th>Leto</th>
            <th>Vaš odgovor</th>
            <th>Pravilni odgovor</th>
            <th>Točke</th>
        </tr>
        {% for a,b,c,d,e in odgovori %}
            <tr>
                <td>{{b}}</td>
                <td>{{a}}</td>
                <td>{{c}}</td>
                <td>{{d}}</td>
                <td>{{e}}</td>
            </tr>
        {%endfor%}
    </table>

    Končni rezultat: {{rezultat}}
{% endblock content %}