{% extends "skeleton.html" %}

{% block head %}
    <title>Rezultati kviza</title>
{% endblock head %}

{% block content %}
    <h1>Rezultati kviza osebe: {{username}}</h1>
    <table style="border: 1px solid black; text-align: center; width:100%">
        <tr>
            <th>ID odgovora</th>
            <th>Opis</th>
            <th>Vprašanje</th>
            <th>Pravilni odgovor</th>
            <th>Vaš odgovor</th>
            <th>Točke</th>
        </tr>
        {% for i,j in odgovori %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.vprasanje.opis}}</td>
                <td>{{i.vprasanje.vprasanje}}</td>
                <td>{{i.vprasanje.pravilni_odgovor}}</td>
                <td>{{i.odgovori}}</td>
                <td>{{j}}</td>
            </tr>
        {%endfor%}
    </table>

    Končni rezultat: {{rezultat}}
{% endblock content %}