{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

      <!-- Leaflet -->
      <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css" />
      <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
      <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.js'></script>

      <!-- Added -->
      <link rel="stylesheet" href="{% static 'webapp/style.css' %}">
      {% block head %} {% endblock head %}
    </head>

    <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
        <div style="text-align:center">
              <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/homePage">Domov</a>
                  </div>
                  <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="/homePage#kvizi">KVIZI</a></li>
                      <li><a href="/homePage#uredi">UREJAJ KVIZE</a></li>
                      <li><a href="/homePage#dodaj">DODAJ KVIZ</a></li>
                    </ul>
                  </div>
                </div>
              </nav>

            <div style="margin-top:80px">
                {% block content %} {% endblock content %}
            </div>
        </div>
    </body>
</html>