{% extends "skeleton.html" %}

{% block head %}

{% endblock head %}

{% block content %}

    <h1>Vprašanje iz kviza {{kviz}}</h1>
    <h3>Leto: {{leto}}</h3>
    {% if slika %}
        <img style="width:300px; height:200px" src="/media/{{slika}}" />
    {% endif %}

    <h3>Opis: </h3>
    <p>{{vprasanje.opis}}</p>

    <div class="answerQuestion">
        {% if tip == 'opisno' %}
            <form action="/solve_question/{{kviz}}/{{vprasanje.id}}/{{vprasanje_index}}/{{username}}/" method="post">
                <h3>Vprašanje:</h3>
                <p3>{{vprasanje.vprasanje}}</p3>
                <h3>Odgovori: </h3>
                {% csrf_token %}
                {{formopisno|linebreaks}}
                <input type="submit" value="Odgovori" style="margin-bottom: 20px;">
            </form>
        {%endif%}

        {% if tip == 'pn' %}
            <form action="/solve_question/{{kviz}}/{{vprasanje.id}}/{{vprasanje_index}}/{{username}}/" method="post">
                <h3>Odgovori: </h3>
                {% csrf_token %}
                {{v1}}
                {{formpn.p1}}
                {{v2}}
                {{formpn.p2}}
                {{v3}}
                {{formpn.p3}}
                {{v4}}
                {{formpn.p4}}
                {{v5}}
                {{formpn.p5}}
                <input type="submit" value="Odgovori" style="margin-bottom: 20px;">
            </form>
        {%endif%}
    </div>
    <style>
        ul, ol {
            list-style: none;
        }
    </style>
        {% if tip == 'izbirno' %}
            <form action="/solve_question/{{kviz}}/{{vprasanje.id}}/{{vprasanje_index}}/{{username}}/" method="post">
                {% csrf_token %}
                <h3>Vprašanje:</h3>
                <p3>{{vprasanje.vprasanje}}</p3>
                <h3>Izberi pravilno trditev: </h3>
                <table>
                <tr>
                <td>
                {{formizbirno.as_p}}
                </td>
                <td>
                    <ul>
                        <li style="padding-top: 5.5px; text-align: left;">{{vprasanje.odgovor1}}</li>
                        <li style="padding-top: 5.5px; text-align: left;">{{vprasanje.odgovor2}}</li>
                        <li style="padding-top: 5.5px; text-align: left;">{{vprasanje.odgovor3}}</li>
                        <li style="padding-top: 5.5px; text-align: left;">{{vprasanje.odgovor4}}</li>
                        <li style="padding-top: 5.5px; text-align: left;">{{vprasanje.odgovor5}}</li>
                    </ul>                
                </td>
                </tr>
                </table>
                <input type="submit" value="Odgovori" style="margin-bottom: 20px;">
            </form>
        {%endif%}
   

{% endblock content %}